In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = None # affiche toutes les colonnes lors de l'affichage des DataFrames
pd.options.display.float_format = '{:.2f}'.format # affiche les nombres à virgule flottante avec 2 décimales

In [29]:
source_file = "../data/1-raw/circulations/slo_annuel_2017.csv"
df_raw = pd.read_csv(source_file)

C:\Users\gallien\AppData\Local\Temp\ipykernel_24856\3523993994.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv(source_file)

In [30]:
df_raw

,date_circ,id_circ,num_marche,code_ci_origine,code_ch_origine,lib_ci_origine,code_ci_destination,code_ch_destination,lib_ci_destination,ui,lib_ui,tct,lib_tct,rang,code_ci_jalon,code_ch_jalon,lib_ci_jalon,code_ligne,pk,distance_cumul,type_horaire,dh_the_jalon,dh_obs_jalon,dh_est_jalon,id_engin,composition,mode_traction
0,2017-01-01,35666817,220,715227,XS,Les Longevilles-Rochejean,686006,BV,Paris-Gare-de-Lyon,9124,Thello,LAC,Voyageurs - Trains non apte GV accord cadre,0,715227,XS,NaN,850000,459+614,0,P,2017-01-01 05:06:30,2017-01-01 05:45:32,NaN,NaN,NaN,NaN
1,2017-01-01,35666817,220,715227,XS,Les Longevilles-Rochejean,686006,BV,Paris-Gare-de-Lyon,9124,Thello,LAC,Voyageurs - Trains non apte GV accord cadre,6,715136,BV,NaN,850000,437+151,22463,A,2017-01-01 05:19:30,2017-01-01 06:01:30,NaN,NaN,NaN,NaN
2,2017-01-01,35666817,220,715227,XS,Les Longevilles-Rochejean,686006,BV,Paris-Gare-de-Lyon,9124,Thello,LAC,Voyageurs - Trains non apte GV accord cadre,7,715136,BV,NaN,850000,437+151,22463,D,2017-01-01 05:20:30,2017-01-01 06:02:30,NaN,NaN,NaN,NaN
3,2017-01-01,35666817,220,715227,XS,Les Longevilles-Rochejean,686006,BV,Paris-Gare-de-Lyon,9124,Thello,LAC,Voyageurs - Trains non apte GV accord cadre,62,713040,BV,NaN,830000,314+208,145424,A,2017-01-01 06:43:00,2017-01-01 07:10:42,NaN,NaN,NaN,NaN
4,2017-01-01,35666817,220,715227,XS,Les Longevilles-Rochejean,686006,BV,Paris-Gare-de-Lyon,9124,Thello,LAC,Voyageurs - Trains non apte GV accord cadre,63,713040,BV,NaN,830000,314+208,145424,D,2017-01-01 06:48:00,2017-01-01 07:15:22,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977040,2017-09-24,40699132,803775,182063,BV,Mulhouse-Ville,694000,BV,Le Creusot,1087,SNCF,PTT,Train touristique,165,713545,00,NaN,830000,351+181,301819,A,2017-09-24 19:52:00,2017-09-24 20:08:01,NaN,NaN,NaN,NaN
1977041,2017-09-24,40699132,803775,182063,BV,Mulhouse-Ville,694000,BV,Le Creusot,1087,SNCF,PTT,Train touristique,166,713545,00,NaN,830000,351+181,301819,D,2017-09-24 19:57:00,2017-09-24 20:12:54,NaN,NaN,NaN,NaN
1977042,2017-09-24,40699132,803775,182063,BV,Mulhouse-Ville,694000,BV,Le Creusot,1087,SNCF,PTT,Train touristique,176,713578,BV,NaN,760000,162+425,318136,D,2017-09-24 20:14:00,2017-09-24 20:50:43,NaN,NaN,NaN,NaN
1977043,2017-09-24,40699132,803775,182063,BV,Mulhouse-Ville,694000,BV,Le Creusot,1087,SNCF,PTT,Train touristique,177,713578,BV,NaN,760000,162+425,318136,A,2017-09-24 20:44:00,2017-09-24 21:05:05,NaN,NaN,NaN,NaN
1977044,2017-09-24,40699132,803775,182063,BV,Mulhouse-Ville,694000,BV,Le Creusot,1087,SNCF,PTT,Train touristique,203,694000,BV,NaN,760000,125+644,354917,A,2017-09-24 22:21:00,2017-09-24 23:05:00,NaN,NaN,NaN,NaN

In [28]:
df_raw["lib_ci_jalon"].value_counts(dropna=False)

lib_ci_jalon
NaN    1977045
Name: count, dtype: int64

# Ingestion circulation ferroviaire

Notebook de découverte et ingestion des données de circulation ferroviaires.

Chaque colonne du jeu de données est expliquée dans `../data/1-raw/circulations/readme.md`

In [ ]:
source_file = "../data/1-raw/circulations/slo_annuel_2017.csv"
dest_file = "../data/2-clean/circulations/slo_2017.parquet"

df_raw = pd.read_csv(
    source_file,
    usecols = ['id_circ', 'num_marche', 'code_ci_origine', 'lib_ci_origine', 'code_ci_destination', 
            'lib_ci_destination', 'ui', 'lib_ui', 'tct', 'lib_tct', 'code_ci_jalon', 'code_ch_jalon', 
            'lib_ci_jalon', 'distance_cumul', 'type_horaire', 'id_engin', 'mode_traction', 'date_circ', 
            'dh_the_jalon', 'dh_obs_jalon', 'dh_est_jalon'], 
    dtype={
        "id_circ": "string",
        "num_marche": "string",
        "code_ci_origine": "string",
        "lib_ci_origine": "string",
        "code_ci_destination": "string",
        "lib_ci_destination": "string",
        "ui": "string",
        "lib_ui": "string",
        "tct": "string",
        "lib_tct": "string",
        "code_ci_jalon": "string",
        "code_ch_jalon": "string",
        "lib_ci_jalon": "string",
        "distance_cumul" : "Float64",
        "type_horaire": "string",
        "id_engin": "string",
        "mode_traction": "string"
    },
    parse_dates=[
        "date_circ",
        "dh_the_jalon",
        "dh_obs_jalon",
        "dh_est_jalon"
    ]
)

In [26]:
df_raw['lib_ci_jalon'].value_counts(dropna=False) # inclue les NaN

lib_ci_jalon
NaN    1977045
Name: count, dtype: int64

In [7]:
df_raw['distance_cumul'].describe()

count   1789159.00
mean     281345.58
std      270613.30
min           0.00
25%       45337.00
50%      215329.00
75%      441221.00
max     1658797.00
Name: distance_cumul, dtype: float64

In [5]:
df_raw.dtypes

date_circ              datetime64[ns]
id_circ                string[python]
num_marche             string[python]
code_ci_origine        string[python]
lib_ci_origine         string[python]
code_ci_destination    string[python]
lib_ci_destination     string[python]
ui                     string[python]
lib_ui                 string[python]
tct                    string[python]
lib_tct                string[python]
code_ci_jalon          string[python]
code_ch_jalon          string[python]
lib_ci_jalon           string[python]
distance_cumul                float64
type_horaire           string[python]
dh_the_jalon           datetime64[ns]
dh_obs_jalon           datetime64[ns]
dh_est_jalon           datetime64[ns]
id_engin               string[python]
mode_traction          string[python]
dtype: object

# copie

In [ ]:
df = df_raw.copy()

# Compréhension des données

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# premier constat : il y a énormément de redondance dans les données, car les infos de chaque train (id_circ, date_circ, code_ci_origine, lib_ci_origine, etc) sont répétées pour chaque point de passage du train, alors même qu'ils ne changent pas.
# une meilleure organisation serait de séparer les informations statiques du train des informations dynamiques liées aux points de passage, dans deux tables distinctes.
# pour simplifier l'analyse, on ne gardera ici que le départ et l'arrivée, en agrégant les données sur une seule ligne par trajet (id_circ).

In [ ]:
# df.describe(include='all')

In [ ]:
df['id_circ'].nunique() # nombre de circulations uniques (trajets réalisés)

In [ ]:
df['num_marche'].nunique() # nombre de numéros de marche uniques (trajets planifiés : gares, horaires)

In [ ]:
df['code_ch_jalon'].value_counts() # peu utile dans notre analyse (type de jalon : batiment voyageur, halte, ...)

In [ ]:
df['lib_ui'].value_counts()

In [ ]:
df['lib_tct'].value_counts()

In [ ]:
df['mode_traction'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
# df[df.duplicated()]
# aucun doublon, super

# Nettoyage des données

In [ ]:
"""# conversion des dates -> réalisé dès l'ingestion
df['date_circ'] = pd.to_datetime(df['date_circ'], errors='coerce', format='%Y-%m-%d')
df['dh_the_jalon'] = pd.to_datetime(df['dh_the_jalon'], errors='coerce', format='%Y-%m-%d %H:%M:%S')
df['dh_obs_jalon'] = pd.to_datetime(df['dh_obs_jalon'], errors='coerce', format='%Y-%m-%d %H:%M:%S')
df['dh_est_jalon'] = pd.to_datetime(df['dh_est_jalon'], errors='coerce', format='%Y-%m-%d %H:%M:%S')
df.shape"""

In [ ]:
"""# Homogénéisation des colonnes d'identifiants -> réalisé dès l'ingestion
df['id_circ'] = df['id_circ'].astype("string")
df['num_marche'] = df['num_marche'].astype("string")
df['code_ci_origine'] = df['code_ci_origine'].astype("string")
df["code_ch_origine"] = df['code_ch_origine'].astype("string")
df['code_ci_destination'] = df['code_ci_destination'].astype("string")
df['code_ci_jalon'] = df['code_ci_jalon'].astype("string")
df['lib_ci_destination'] = df['lib_ci_destination'].astype("string")
"""

In [ ]:
# compte les types dans une colonne donnée -> plus utile car déjà homogénisé dès l'ingestion
# df['lib_ci_destination'].map(type).value_counts()

In [ ]:
# affiche les lignes où le type est float
# df[df['lib_ci_destination'].map(type) != str]

In [ ]:
df[df['dh_the_jalon'].isna() | df['dh_obs_jalon'].isna() | df['dh_est_jalon'].isna()].shape 
# constat 2024 : 88739 lignes sur 1873489, soit 4.7% de lignes avec une ou plusieurs dates manquantes
# en réalité, si dh_obs_jalon est manquant, on peut compenser par dh_est_jalon.

In [ ]:
# lignes avec date observée ET estimée manquante : aucune, super, on aura toujours au moins une date pour calcul
df[df['dh_obs_jalon'].isna() & df['dh_est_jalon'].isna()].shape

In [ ]:
# pas d'horaire théorique : impossible de calculer le retard du train.
df[df['dh_the_jalon'].isna()].shape
# constat 2024 : 44380 sur 1873489, soit 2.3% de lignes concernées.
# On peut drop ces lignes sans risque.

In [ ]:
df = df.dropna(subset=['dh_the_jalon'])
df.shape

In [ ]:
# En fait, on pourrait même drop directement toutes les lignes qui contiennent des valeurs manquantes (peu importe la colonne),
# car elles représentent peu de données et simplifieraient l'analyse ensuite.
df = df.dropna()
df.shape

In [ ]:
df[df.isna().any(axis=1)]

In [ ]:
# Perte de données à ce stade : 
lignes_initiales = df_raw.shape[0]
lignes_actuelles = df.shape[0]
print(f'Jalons : {lignes_actuelles} sur {lignes_initiales} :  {(lignes_actuelles - lignes_initiales) / lignes_initiales:.2%} de pertes')
trajets_actuels = df['id_circ'].nunique()
trajets_initiaux = df_raw['id_circ'].nunique()
print(f"Trajets : {trajets_actuels} sur {trajets_initiaux} : {(trajets_actuels - trajets_initiaux) / trajets_initiaux:.2%} de pertes")
# En réalité, c'est plus compliqué que ça... car il y a un grand nombre de jalons qui ne nous serviront pas du tout (les arrêts intermédiaires), et de trajets potentiellement incomplets dans le jeu de données intial. Mais ça, les chiffres ci dessus ne le reflètent pas.
# Cela étant dit, 5% c'est tout à fait raisonnable, et ça simplifie l'analyse ensuite.

# Pivot : une ligne par trajet

In [ ]:
# on flag le départ et l'arrivée : 
# code_ci_jalon == code_ci_origine & type_horaire = 'D' ou 'P' ou 'I' -> départ 
# code_ci_jalon == code_ci_destination & type_horaire = 'A' ou 'P' ou 'I' -> arrivée 
# ('D' : départ, 'A' : arrivée, 'P' : passage)
# ('I' : non documenté, concerne très peu de lignes. gare intermédiaire, peut-être ?)
# En situation pro, il aurait fallu enquêter là dessus pour s'assurer que mes filtres sont pertinents.
df['is_depart'] = (df['code_ci_jalon'] == df['code_ci_origine']) & (df['type_horaire'].isin(['D', 'P', 'I']))
df['is_arrivee'] = (df['code_ci_jalon'] == df['code_ci_destination']) & (df['type_horaire'].isin(['A', 'P', 'I']))
df.shape

In [ ]:
# on garde UNIQUEMENT les lignes de DEPART et d'ARRIVEE
df_trajets = df[df['is_depart'] | df['is_arrivee']].copy()
df_trajets.shape

In [ ]:
# trajets qui ont is_depart et is_arrivee true en même temps ?
df_trajets[df_trajets['is_depart'] & df_trajets['is_arrivee']]
# constat 2024 : il y a 74 lignes, n'apporte aucune info pertinente (trajet Modane -> Modane par exemple)
df_trajets = df_trajets[~(df_trajets['is_depart'] & df_trajets['is_arrivee'])]
df_trajets.shape

In [ ]:
df_trajets['is_depart'].value_counts()

In [ ]:
df_trajets['is_arrivee'].value_counts()

In [ ]:
# remplace is_depart et is_arrivee par une seule colonne : type_arret
df_trajets['type_arret'] = np.where(df_trajets['is_depart'], 'depart', 'arrivee') # on peut faire ça car on a déjà filtré les lignes où les deux sont true
df_trajets = df_trajets.drop(columns=['is_depart', 'is_arrivee'])
df_trajets['type_arret'].value_counts()

In [ ]:
# df_trajets[df_trajets['id_circ'] == '82520670']
# constat 2024 : LIB_TCT peut changer en cours de route (exemple : TAGV Atlantique -> TAGV Bretagne).
# à passer en valeur agrégée dans le pivot plus bas.

In [ ]:
# df_trajets[df_trajets['id_circ'] == '84942965']
# constat 2024 : ID_ENGIN peut changer en cours de route, dans de très rares cas (56 lignes, donc 28 trajets).
# à passer en valeur agrégée dans le pivot plus bas.

In [ ]:
# on vérifie qu'il n'y a aucun doublon pour la clef utilisée dans le pivot plus bas
df_trajets[df_trajets.duplicated(subset=['id_circ', 'date_circ', 'num_marche', 'code_ci_origine', 'lib_ci_origine', 
                                         'code_ci_destination', 'lib_ci_destination', 'lib_ui', 'id_engin', 'type_arret'], keep=False)].head()

In [ ]:
# constat 2024 : 2451 trajets avec des départs ou arrivées en double.
# Idéalement, on devrait enquêter pour comprendre la raison derrière. 
# Ici, on constate que pour à peu près une ligne sur deux, il manque des dates (théorique, observée ou estimée).
# On va donc garder les lignes avec le plus d'informations (non nulles) sur les dates :
df_trajets['num_dates_non_nulles'] = df_trajets[['dh_the_jalon', 'dh_obs_jalon', 'dh_est_jalon']].notna().sum(axis=1) # compte le nombre de dates non nulles par ligne
df_trajets = df_trajets.sort_values(by=['id_circ','type_arret', 'num_dates_non_nulles'], ascending=[True, True, False])
df_trajets = df_trajets.drop_duplicates(subset=['id_circ', 'date_circ', 'num_marche', 'code_ci_origine', 'lib_ci_origine', 
            'code_ci_destination', 'lib_ci_destination', 'lib_ui', 'id_engin', 'type_arret'], keep='first') # garde la ligne avec le plus de dates non nulles

In [ ]:
# vérification qu'il n'y a plus aucun doublon
df_trajets[df_trajets.duplicated(subset=['id_circ', 'date_circ', 'num_marche', 'code_ci_origine', 'lib_ci_origine', 
            'code_ci_destination', 'lib_ci_destination', 'lib_ui', 'id_engin', 'type_arret'], keep=False)]

In [ ]:
# compte le nombre de types d'arrêt par id_circ (il en faut 1 ou 2 : départ et arrivée)
df_trajets.groupby('id_circ')['type_arret'].nunique().value_counts()
# constat 2024 : on a 4565 trajets sur 255267 pour lesquels il manque le départ ou l'arrivée, soit 1.8%. supprimé plus loin, après le pivot.

In [ ]:
### PIVOT : pour avoir UNE LIGNE PAR TRAJET
df_trajets_pivot = df_trajets.pivot_table(
    index = ['id_circ', 'date_circ', 'num_marche', 'code_ci_origine', 'lib_ci_origine', 
            'code_ci_destination', 'lib_ci_destination', 'lib_ui'],
    columns = ['type_arret'],
    values = ['dh_the_jalon', 'dh_est_jalon', 'dh_obs_jalon', 'distance_cumul', 'lib_tct', 'id_engin', 'code_ch_jalon'],
    aggfunc = 'first'  # on a déjà géré les doublons, donc ce paramètre ne devrait avoir aucun impact.
)

# on aplatit les colonnes multi-index
df_trajets_pivot.columns = ['_'.join(col).strip() for col in df_trajets_pivot.columns.values]
df_trajets_pivot = df_trajets_pivot.reset_index()

# on renomme les colonnes
df_trajets_pivot = df_trajets_pivot.rename(columns={
    'dh_the_jalon_depart': 'depart_theorique',
    'dh_the_jalon_arrivee': 'arrivee_theorique',
    'dh_est_jalon_depart': 'depart_estime',
    'dh_est_jalon_arrivee': 'arrivee_estime',
    'dh_obs_jalon_depart': 'depart_observe',
    'dh_obs_jalon_arrivee': 'arrivee_observe',
    'distance_cumul_arrivee': 'distance_totale',
    'code_ch_jalon_depart': 'code_ch_origine',
    'code_ch_jalon_arrivee': 'code_ch_destination',
})

# on réorganise l'ordre des colonnes
df_trajets_pivot = df_trajets_pivot[[
    'id_circ', 'date_circ', 'num_marche', 
    'code_ci_origine', 'lib_ci_origine', 'code_ch_origine',
    'code_ci_destination', 'lib_ci_destination', 'code_ch_destination',
    'lib_ui', 'lib_tct_depart', 'lib_tct_arrivee', 
    'id_engin_depart', 'id_engin_arrivee',
    'depart_theorique', 'depart_observe', 'depart_estime',
    'arrivee_theorique', 'arrivee_observe', 'arrivee_estime', 
    'distance_totale'
]]

df_trajets_pivot

In [ ]:
# id_circ en doublon ? -> traités plus haut.
df_trajets_pivot[df_trajets_pivot.duplicated(subset=['id_circ'], keep=False)].shape

In [ ]:
# lignes avec valeurs manquantes :
df_trajets_pivot[df_trajets_pivot.isna().any(axis=1)].shape
# seulement 5758 sur 259764, soit 2.2% de lignes concernées. on peut supprimer

# nb : c'est normal qu'il y ait des valeurs manquantes, alors même que l'on avait supprimé tous les na dans le df initial.
#  En effet, certains trajets n'ont pas de départ ou d'arrivée (ex : trajets partiels dans le jeu de données initial).

In [ ]:
df_trajets_pivot = df_trajets_pivot.dropna()
df_trajets_pivot.shape
# on pourrait éventuellement faire un nettoyage plus fin, en gardant les lignes où il manque seulement l'horaire observé, et calculer à partir de l'estimé.
# mais comme le volume de données est très faible, ça n'en vaut pas l'effort.

In [ ]:
# vérification qu'il n'y a aucun missing value dans les horaires observés
df_trajets_pivot[df_trajets_pivot['depart_observe'].isna() | df_trajets_pivot['arrivee_observe'].isna()].shape

In [ ]:
# trajets avec date arrivée < date départ : aucun, super
df_trajets_pivot[df_trajets_pivot['arrivee_observe'] < df_trajets_pivot['depart_observe']]

In [ ]:
# taux de perte de trajets après nettoyage
n_trajets_final = df_trajets_pivot.shape[0]
n_trajets_initial = df_raw['id_circ'].nunique()
perte_relative = (n_trajets_initial - n_trajets_final) / n_trajets_initial
print(f"Après nettoyage, on a {n_trajets_final:_} trajets sur {n_trajets_initial:_} initialement, soit une perte de {perte_relative:.2%} des trajets.")

# Calcul des colonnes dérivées

Pour contexte, la SNCF compte les retards comme suit : 
- Un train est considéré à l'heure si son retard au terminus est inférieur à 5min pour un parcours inférieur à 1h30
- Un train est considéré à l'heure si son retard au terminus est inférieur à 10min pour un parcours entre 1h30 et 3h
- Un train est considéré à l'heure si son retard au terminus est inférieur à 15min pour un parcours au-delà de 3h

Tous ces retards ne sont donc pas comptabilisés par la SNCF.
Nous allons utiliser des catégories similaires, pour pouvoir comparer avec les chiffres officiels.

In [ ]:
df_retards = df_trajets_pivot.copy()
df_retards.head()

In [ ]:
# nombre de trajets où il manque des informations temporelles : aucune, puisqu'on a drop les lignes avec des valeurs manquantes plus haut.
# on va donc pouvoir utiliser uniquement les horaires observés (et non estimés) pour le calcul des retards
df_retards[df_retards[['depart_theorique', 'depart_observe', 'depart_estime', 'arrivee_theorique', 'arrivee_observe', 'arrivee_estime']].isna().any(axis=1)].shape

In [ ]:
# on peut donc au passage drop les colonnes d'horaires estimés
df_retards = df_retards.drop(columns=['depart_estime', 'arrivee_estime'])

In [ ]:
# NB : un retard négatif indique une avance.

# Retard au départ et à l'arrivée (en minutes)
df_retards['ret_depart'] = ((df_retards['depart_observe'] - df_retards['depart_theorique']).dt.total_seconds()) / 60
df_retards['ret_arrivee'] = ((df_retards['arrivee_observe'] - df_retards['arrivee_theorique']).dt.total_seconds()) / 60

# Catégories de retard à l'arrivée : 'True' si le train a plus de 'n' minutes de retard
for n in [5, 10, 15, 30, 60]:
    df_retards[f"ret_arrivee_{n}min"] = df_retards["ret_arrivee"] >= n

# Catégorie de retard à l'arrivée : finalement remplacé par les catégories ci dessus.
# bins = [float("-inf"), -10, -5, 0, 5, 10, 15, 30, 60, float("inf")]
# labels = ["-10-", "[-10,-5[", "[-5,0[", "[0,5[", "[5,10[", "[10,15[", "[15,30[", "[30,60[", "[60+]"]
# df_retards["ret_arrivee_cat"] = pd.cut(df_retards["ret_arrivee"], bins=bins, labels=labels, right=False)

# Durée théorique du trajet (en minutes)
df_retards['duree_theorique'] = (df_retards['arrivee_theorique'] - df_retards['depart_theorique']).dt.total_seconds() / 60

# Durée théorique du trajet (catégories)
bins = [0, 90, 180, float("inf")]
labels = ["<1h30", "1h30-3h", ">3h"]
df_retards["duree_theorique_cat"] = pd.cut(df_retards["duree_theorique"], bins=bins, labels=labels, right=False)

# Durée observée du trajet (en minutes)
df_retards['duree_observee'] = (df_retards['arrivee_observe'] - df_retards['depart_observe']).dt.total_seconds() / 60

# Mois (1 = janvier, 12 = décembre)
df_retards['mois'] = df_retards['date_circ'].dt.month

# Numéro de semaine dans l'année
df_retards['num_semaine'] = df_retards['date_circ'].dt.isocalendar().week

# Jour de la semaine (0 = lundi, 6 = dimanche)
df_retards['jour_semaine'] = df_retards['date_circ'].dt.dayofweek

# Plage horaire de départ et d'arrivée, par tranche de 1 heure
df_retards['heure_depart'] = df_retards['depart_observe'].dt.hour
df_retards['heure_arrivee'] = df_retards['arrivee_observe'].dt.hour

df_retards

# Export en Parquet

In [ ]:
df_retards.to_parquet(dest_file, index=False)

In [ ]:
# test d'import
# df_test = pd.read_parquet("../data/2-clean/slo_2024.parquet")
# df_test.head(3)

In [ ]:
# Comparaison avec le format CSV :

# écriture + lecture : 9s en CSV contre 1.2s en parquet
# taille du fichier : 90Mo en CSV contre 17Mo en parquet

"""
df_retards.to_csv("../data/2-clean/slo_2024.csv", index=False)
df_test_csv = pd.read_csv("../data/2-clean/slo_2024.csv", parse_dates=[
    "date_circ", "depart_theorique", "depart_observe", "depart_estime",
    "arrivee_theorique", "arrivee_observe", "arrivee_estime"
])
"""

In [17]:
# test d'import
df_test = pd.read_parquet("../data/2-clean/circulations/slo_2019.parquet")
df_test.head(3)

,id_circ,date_circ,num_marche,code_ci_origine,lib_ci_origine,code_ci_destination,lib_ci_destination,lib_ui,lib_tct_depart,lib_tct_arrivee,id_engin_depart,id_engin_arrivee,depart_theorique,depart_observe,arrivee_theorique,arrivee_observe,distance_totale,ret_depart,ret_arrivee,ret_arrivee_5min,ret_arrivee_10min,ret_arrivee_15min,ret_arrivee_30min,ret_arrivee_60min,duree_theorique,duree_theorique_cat,duree_observee,mois,num_semaine,jour_semaine,heure_depart,heure_arrivee
0,49415086,2019-01-06,27930,734004,Clermont-Ferrand,751008,Marseille-St-Charles,SNCF-Intercités,Voyageurs GL - Trains spéciaux (pèlerins et au...,Voyageurs GL - Trains spéciaux (pèlerins et au...,67400,22200,2019-01-06 12:40:00,2019-01-06 12:43:00,2019-01-06 20:20:00,2019-01-06 21:45:38,672765,3.00,85.63,True,True,True,True,True,460.00,>3h,542.63,1,1,6,12,21
1,49474900,2019-01-10,22095,751008,Marseille-St-Charles,756056,Nice-Ville,SNCF-Intercités,Voyageurs GL - Trains spéciaux (pèlerins et au...,Voyageurs GL - Trains spéciaux (pèlerins et au...,22200,22200,2019-01-10 07:25:00,2019-01-10 07:27:08,2019-01-10 09:49:00,2019-01-10 10:05:55,222752,2.13,16.92,True,True,True,False,False,144.00,1h30-3h,158.78,1,2,3,7,10
2,49549559,2019-01-13,27954,756056,Nice-Ville,773002,Montpellier-St-Roch,SNCF-Intercités,Voyageurs GL - Trains spéciaux (pèlerins et au...,Voyageurs GL - Trains spéciaux (pèlerins et au...,22200,22200,2019-01-13 13:23:01,2019-01-13 13:08:03,2019-01-13 19:32:00,2019-01-13 19:08:27,448758,-14.97,-23.55,False,False,False,False,False,368.98,>3h,360.40,1,2,6,13,19